
body
{
	background: rgb(255,255,255);   /*fondo*/
	color:rgb (0,0,0);      /*letra*/
	max-width: 1024px;
	margin: 0 auto  ;
	

}


body header
{
	
background: blue; /*fondo*/
border: 1px solid black; /*alrededor*/
border-radius: 10px;/*esquinas */
color: white; /*letra*/
}
header h1
{
	text-align: center;


}

header nav ul li 
{
/*	border: 1px solid yellow;*/
background: white;
border-radius: 5px;
color: black;
display: inline-block;   /*rompe cajas*/
margin: 0px 50px;
padding: 10px;



}
/*cuando tiene el mouse encima */
header nav ul li:hover
{
	background: black;
	color: white;

}

