body
{
	max-width: 1024px;
	font-size: 16px;
	margin: 0 auto;
	border: 1px solid purple;
	/*padding-top: 5%;*/
	background: -webkit-linear-gradient(-45deg, #0e0e0e 0%,#7d7e7d 100%);;
}
body nav
{
	    /*border: 1px solid blue;*/
    width: 26%;
    display: inline-block;
    vertical-align: top;
    margin-top: 15%;
    margin-left: -20%;
}
body nav ul  
{
	list-style: none;
	display: inline-block;
	/*padding-top: 11%;*/
}
body nav ul li
{
	padding-top: 11%;
}

header
{
	background: white;
	height: 64px;
    /*border: 1px solid black;*/
}

header input[type="text"]
{
	width: 11%;
    text-align: left;
    /* padding-bottom: 1%; */
    margin-left: 14%;
    margin-top: .5%;
    /* padding-left: 9px; */
    text-align: right;
    padding-top: 1%;

}
footer
{
	height: 255px;
}
footer article
{
	display: inline-block;
	vertical-align: top;
	width: 30%;
	border-top: dashed 1.5px gray;
	margin-top: 2%;
}

#f1
{
	    margin-left: 2%;
    margin-right: 5%;
}
#f2
{
	width: 26%;
    margin-right: 35px;
}
#logo
{
	width: 23%;
	margin-top: 2%;
}

#menu
{
	width: 70%;
    display: inline-block;
    vertical-align: top;
    margin-left: 30%;
    margin-top: -2.8%;
}

.red1{
	color: white;
	float: right;
    margin-right: 9%;

}

.red2
{
	color: white;
    float: right;
    margin-right: 17%;
}
.red3
{
	color: white;
    float: right;
    margin-right: 12%;
    margin-top: 5%;
}
#s1
{
	display: inline-block;
    vertical-align: top;
    width: 69.61%;
    border: 1px solid;
}
#s1 article
{
	display: inline-block;
    vertical-align: top;
    /*width: 24%;*/
    height: 345px;
    /*border: 1px solid;*/
    margin-top: 3%;
}
#s1a1
{
	/*background: #AEC85A;*/
        background: #AEC85A;
    margin-right: 1%;
    width: 24.4%;
    margin-left: .7%;

}
#s1a2
{
	background: #4E4E4E;
    margin-left: -2%;
    width: 26%;
}

#s1a3
{
	background: #C62A3E;
    margin-right: 0%;
    margin-left: -1%;
    width: 25%;
}
#s1a4
{
background: #DADADA;
    margin-left: -1%;
    width: 24.5%;
}

#s2a1
{
	display: inline-block;
    width: 30%;
    vertical-align: top;
}
#s2a1 img
{
	    width: 80%;
    margin-top: 9%;
    margin-left: 35%;
    border-radius: 5px;
}

#s2a2
{
	display: inline-block;
    width: 30%;
    vertical-align: top;
}
#s2a2 img
{
	    width: 80%;
    margin-top: 9%;
    margin-left: 49%;
    border-radius: 5px;
}
#s2a3
{
	display: inline-block;
    width: 30%;
    vertical-align: top;
}
#s2a3 img
{
	    width: 80%;
    margin-top: 9%;
    margin-left: 44%;
    border-radius: 5px;
}
.forma
{
	display: inline-block;
    vertical-align: top;
    margin-left: 9%;
    margin-top: -13%;
    color: gray;
}
.azulito
{
	    display: inline-block;
    vertical-align: top;
    margin-left: 24%;
    margin-top: -6%;
    color: #0836a9;
        color: #486E80;
    font-weight: bold;
}
.blanco2
{
	color: white;
	    display: inline-block;
    vertical-align: top;
    margin-top: 4%;
}
.gris
{
	color: gray;
}
.blanco{color: white;}
.mayus
{
	    font-size: 1.5em;
    color: white;
 margin-left: 8%;
    display: inline-block;
    vertical-align: top;
}
.mayus2
{
	font-size: 1.5em;
    color: gray;
 margin-left: 8%;
    display: inline-block;
    vertical-align: top;

}
.gris2
{
	    display: inline-block;
    vertical-align: top;
    margin-top: 4%;
    color: gray;
}
.min
{
	color: white;
        margin-left: 14px;
    display: inline-block;
    vertical-align: top;
    font-size: small;
}
.min2
{
	color: gray;
        margin-left: 14px;
    display: inline-block;
    vertical-align: top;
    font-size: small;
}
.mayus3
{
	font-weight: bold;
	color: white;
	font-size: 1em;
    display: inline-block;
    margin-left: 14px;
}