body
{
/*a fuerzas de 16px es el estandar de M*/
/*para centrar con margin */
/*maximo ancho de 1024 a fuerzas*/
border: 1px solid blue; 
font-size: 16px;
margin: 0 auto;
max-width: 1024px;
}
header
{
	background: #B3D8EB;
}
header nav
{
	background: #0E6CB0;
	border-radius: 5PX;	
	padding: .2px 0px .2px 0px;
	margin: 0 auto;
	width: 99%;
	margin-top: -17px;
}
header nav ul li
{
	color: white;
	display: inline-block;
	margin-right: 20px;

}
form
{
	float: right;
	margin-top: -38px;
	margin-right:20px;
}
form input
{
	border-radius: 5px;

}
form input[type="button"]
{
	background: green;
	color: white;
}
form input[type="search"]
{
	border-radius: 5px;

}



#logo
{
	margin-top: -250px;
}
#seccion1
{
	text-align: center;
	
	
}
#seccion1 article img
{
	border: 5 px rgba(150,150,150,0.5);
	margin-top: 15px;
	width: 98%;
}
#seccion02
{
	/*margin: 0 auto;*/
}
#seccion02 article 
{ 
	display: inline-block;
	text-align: left;
	vertical-align: top;
	width: 32.8%;
}
#seccion02 article input[type="button"]
{
	background: white;
	border-radius: 5px;
	color: blue;
	margin-left: 36%;
	
}

.OtraSeccion,.unaSeccion{
	font-weight: bold;
}
.unaSeccion
{
	font-size: 4.5em;
	font-weight: bold;

}
.OtraSeccion
{
	font-size: 2.5em;
	font-weight: bold;
}




